*{
    margin: 0;
    padding: 0;
}

#carouselExampleCaptions .carousel-item img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

@font-face {
    font-family: 'PlayfairCustom';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PlayfairCustom', serif;
}

pre code {
    background: #f4f4f4;
    padding: 15px;
    display: block;
    border-radius: 5px;
    overflow-x: auto;
}